.typing-header {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 30px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
}


.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 0.8s infinite;
  transition: opacity 0.2s ease;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
